<launch>
  <arg name="bag_path"/>
  <node 
    pkg="livox_camera_calib"
    type="lidar_camera_calib_online_pole"
    name="lidar_camera_calib_online_pole"
    args="$(find livox_camera_calib)/config/camera_0231_002.yaml
        $(find livox_camera_calib)/config/config_outdoor_robosense-m1_ar0231_002_tf.yaml
        $(arg bag_path)
        $(find livox_camera_calib)/result_online_anybag"
    output="screen">
    <param name="frame_id" type="string" value="rslidar" />
  </node>
  <node
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find livox_camera_calib)/rviz_cfg/calib_online.rviz"
  />
</launch>
