<launch>
  <node
    pkg="livox_camera_calib"
    type="image_radar_projection_online"
    name="image_radar_projection_online"
    args="$(find livox_camera_calib)/config/camera_image_radar_front.yaml
        $(find livox_camera_calib)/config/config_image_radar_front.yaml
    output="screen"
  />
</launch>
